.ca-drawer {
  position: fixed;
  z-index: 1000;
  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.45);
    transition: opacity 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    opacity: 0;
  }
  &.ca-drawer-open {
    width: 100%;
  }
  &.ca-drawer-open {
    .ca-drawer-mask {
      height: 100%;
      opacity: 1;
      animation: fadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .ca-drawer-content-wrap {
    position: absolute;
    height: 100%;
    background-color: #fff;
    transition : transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  }
};
.ca-drawer-right {
  top: 0;
  width: 0%;
  height: 100%;
  right: 0;
  .ca-drawer-content-wrap {
    right: 0;
  }
}