.ca-drawer {
  position: fixed;
  z-index: 1000;
  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.45);
    transition: opacity 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    opacity: 0;
  }
  &.ca-drawer-open {
    width: 100%;
  }
  &.ca-drawer-open {
    .ca-drawer-mask {
      height: 100%;
      opacity: 1;
      animation: fadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .ca-drawer-content-wrap {
    position: absolute;
    transition : transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1) , box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  }
  .ca-drawer-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: auto;
    border: none;
  }
  .ca-drawer-wrap-body {
    height: 100%;
    width: 100%;
  }
  .ca-drawer-header {
    position: relative;
    padding: 16px 24px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    .ca-drawer-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      word-break: break-all;
      color: rgba(0,0,0,.85);
      margin-right: 10px;
    }
    .ca-drawer-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      height: 55px;
      text-align: center;
      line-height: 55px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  .ca-drawer-no-title-header {
    .ca-drawer-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      height: 55px;
      text-align: center;
      line-height: 55px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  .ca-drawer-body {
    padding: 24px;
    background-color: #fff;
  }
};
.ca-drawer-right {
  top: 0;
  width: 0%;
  height: 100%;
  right: 0;
  .ca-drawer-content-wrap {
    right: 0;
    height :100%;
  }
  &.ca-drawer-open {
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    .ca-drawer-content-wrap {
      box-shadow: -2px 0 8px rgba(0,0,0,0.15);
    }
  }
};
.ca-drawer-left {
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  .ca-drawer-content-wrap {
    left: 0;
    height: 100%;
  }
  &.ca-drawer-open {
    .ca-drawer-content-wrap {
      box-shadow: -2px 0 8px rgba(0,0,0,0.15);
    }
  }
}
.ca-drawer-open {
  &.ca-drawer-left {
    width: 100%;
  }
}
.ca-drawer-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  .ca-drawer-content-wrap {
    top: 0;
    width: 100%;
  }
  &.ca-drawer-open {
    .ca-drawer-content-wrap {
      box-shadow: -2px 0 8px rgba(0,0,0,0.15);
    }
  }
}
.ca-drawer-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  .ca-drawer-content-wrap {
    bottom: 0;
    width: 100%;
  }
  &.ca-drawer-open {
    .ca-drawer-content-wrap {
      box-shadow: -2px 0 8px rgba(0,0,0,0.15);
    }
  }
}
.ca-drawer-open {
  &.ca-drawer-top {
    height: 100%;
  }
}
.ca-drawer-open {
  &.ca-drawer-bottom {
    height: 100%;
  }
}