.ca-list {
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  &-border {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    &-main {
      flex: 1;
      display: flex;
    }
    &-meta {
      display: flex;
      flex: 1;
      align-items: flex-start;
      &-avatar {
        margin-right: 16px;
      }
      &-content {
        flex: 1;
      }
      &-title {
        margin-bottom: 4px;
        line-height: 22px;
        font-size: 14px;
        color: #333;
      }
      &-description {
        font-size: 14px;
        color: #999;
        line-height: 22px;
      }
    }
  }
  &-split {
    .ca-list-item {
      border-bottom: 1px solid #d8d8d8;
      &:last-child {
        border-bottom: none;
      }
    }
    .ca-list-header {
      border-bottom: 1px solid #d8d8d8;
    }
  }
  &-need-last-item-border-bottom {
    .ca-list-item:last-child {
      border-bottom: 1px solid #d8d8d8;
    }
  }
  &-default {
    .ca-list-header {
      padding: 12px 0;
    }
    .ca-list-footer {
      padding: 12px 0;
    }
  }
  &-small {
    .ca-list-header {
      padding: 8px 0;
    }
    .ca-list-footer {
      padding: 8px 0;
    }
  }
  &-large {
    .ca-list-header {
      padding: 16px 0;
    }
    .ca-list-footer {
      padding: 16px 0;
    }
  }
  &-default.ca-list-border {
    .ca-list-header {
      padding: 12px 24px;
    }
    .ca-list-footer {
      padding: 12px 24px;
    }
    .ca-list-item {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  &-small.ca-list-border {
    .ca-list-header {
      padding: 8px 16px;
    }
    .ca-list-footer {
      padding: 8px 16px;
    }
    .ca-list-item {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  &-large.ca-list-border {
    .ca-list-header {
      padding: 16px 24px;
    }
    .ca-list-footer {
      padding: 16px 24px;
    }
    .ca-list-item {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  &-border {
    &.ca-list-default {
      .ca-list-header {
        padding-left: 24px;
        padding-right: 24px;
      }
      .ca-list-item {
        padding-left: 24px;
        padding-right: 24px;
      }
      .ca-list-footer {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
    &.ca-list-small {
      .ca-list-header {
        padding-left: 12px;
        padding-right: 12px;
      }
      .ca-list-footer {
        padding-left: 12px;
        padding-right: 12px;
      }
      .ca-list-item {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
    &.ca-list-large {
      .ca-list-header {
        padding-top: 16px;
        padding-bottom: 16px;
      }
      .ca-list-footer {
        padding-top: 16px;
        padding-bottom: 16px;
      }
      .ca-list-item {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }
}